---
import AppLayout from "../layouts/AppLayout.astro";
import Button from "../components/Button.svelte";
import Suggestion from "../components/Suggestion.astro";
export const prerender = false;
console.log(AppLayout({}));
---

<AppLayout>
	<div class="flex flex-col gap-6 w-main">
		<Suggestion
			title="Create a student run GenAI working group"
			votes={4}
			id="135315039"
		/>
		<Suggestion
			title="Introduce a breakfast option at school"
			votes={2}
			id="135315039"
		/>
		<Suggestion
			title="Plan special events on the 24th of each month"
			votes={1}
			id="135315039"
		/>
	</div>
</AppLayout>
