---
import Button from "../components/Button.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
import Suggestion from "../components/Suggestion.astro";
export const prerender = false;
---

<BaseLayout class="w-main">
	<div class="flex flex-row gap-3 place-items-center">
		<h1 class="text-5xl font-bold text-center">Vote! Potomac</h1>
		<Button type="tertiary" class="" href="/submit">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="32"
				height="32"
				viewBox="0 0 24 24"
				><path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2v-6Z"
				></path></svg
			>New
		</Button>
	</div>
	<div class="flex flex-col gap-6">
		<Suggestion
			title="Create a student run GenAI working group"
			votes={4}
			id="135315039"
		/>
		<Suggestion
			title="Introduce a breakfast option at school"
			votes={2}
			id="135315039"
		/>
		<Suggestion
			title="Plan special events on the 24th of each month"
			votes={1}
			id="135315039"
		/>
	</div>
</BaseLayout>
