---
import Button from "./Button.svelte";
interface Props {
	title: string;
	votes: number;
	vote?: "up" | "down";
	id: number;
}
const { title, votes, id, vote } = Astro.props;
---

<a
	class="dark:bg-base-200 shadow-md rounded-lg flex flex-row gap-3 p-3 items-center light:b-1 overflow-hidden"
	href={`/suggestion/${id}`}
>
	<Button
		type={vote ? "primary" : "tertiary"}
		nonInteractive
		icon={vote === "down" ? "i-bx:downvote" : "i-bx:upvote"}
	>
		{votes}
	</Button>
	<h2 class="col-span-4 text-xl align-middle font-bold">
		{title}
	</h2>
</a>
