---
import AppLayout, { type Props as AppProps } from "./AppLayout.astro";
const routes = {
	Moderation: "/admin",
	Users: "/admin/users",
};
export interface Props extends AppProps {
	currentRoute: keyof typeof routes;
}
const { props } = Astro;
---

<AppLayout {...props} class="w-main">
	<div class="sm:flex flex-row gap-3 mb-3">
		<h1 class="font-medium text-3xl">Admin Dashboard</h1>
		<div class="tabs tabs-boxed w-max">
			{
				Object.entries(routes).map(([name, url]) => (
					<a
						href={url}
						class={`tab text-opacity-50 hover:text-opacity-100${
							name === props.currentRoute ? " tab-active" : ""
						}`}
					>
						{name}
					</a>
				))
			}
		</div>
	</div>
	<slot />
</AppLayout>
